#dugmad
{
    text-align: center;
    border: solid;
    margin-top: 20px;
    padding: 0 20px;
}

#dugmad button
{
    background: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    outline: none;
    cursor: pointer;
}

#dugmad button:hover
{
    background: gray;
}

#dugmad button:active
{
    background: rgb(70, 65, 65);
    color: white;
}

#uvodniPodaci h1
{
    margin: 0;
    text-align: center;
}

#prijePlayer1
{
    width: 700px;
    height: 100px;
    margin: auto;
    position: relative;
}

#player1
{
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 100px;
    margin: auto;
}

#dugme1
{
    position: absolute;
    outline: none;
    left: 75px;
    margin-top: 6%;
    cursor: pointer;
}

#dugme2
{
    position: absolute;
    outline: none;
    right: 75px;
    margin-top: 6%;
    cursor: pointer;
}

#sjena
{
    position: absolute;
    z-index: 1;
    left: 100px;
    width: 100px;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

#sjena2
{
    position: absolute;
    z-index: 1;
    right: 100px;
    width: 100px;
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
}

#prvi5
{
    display: flex;
    position: absolute;
    right: 0px;
    transition: .2s;
    width: 100%;
    height: 100%;
    /*animation: 1s linear 1 animacija1;*/
}

#drugi5
{
    display: flex;
    position: absolute;
    right: -500px;
    transition: .2s;
    width: 100%;
    height: 100%;
}

@keyframes animacija
{
    0% {right: 0px}
    50% {right: 25px}
    100% {right: 0px}
}

@keyframes animacijaa
{
    0% {right: 0px}
    50% {right: 25px}
    100% {right: 0px}
}

@keyframes animacija2
{
    0% {left: 0px}
    50% {left: 25px}
    100% {left: 0px}
}

@keyframes animacijaa2
{
    0% {left: 0px}
    50% {left: 25px}
    100% {left: 0px}
}

.slika
{
    position: relative;
}

.slika img
{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.AnSl
{
    position: absolute;
    top: 40%;
    left: 40%;
}

.AnSl img
{
    width: 25px;
    height: 25px;
}

#i1 img, #i2 img
{
    width: 21px;
    height: 21px;
    vertical-align: bottom;
    cursor: auto;
}

#glavni
{
    padding-top: 15px;
    width: fit-content;
    margin: auto;
}

#glavni2, #glavni1, #glavni0 /*** bar za sada **/
{
    display: none;
}

td::selection
{
    background: transparent;
}

#glavniDio
{
    width: fit-content;
    margin: auto;
}

/***************************/
#linija
{
    width: 100%;
    height: 5px;
    background: black;
    position: relative;
    filter: blur(2px);
}

#kocka
{
    position: absolute;
    top: -2px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    filter: blur(2px);
    animation: 10s infinite linear running kocka;
}

@keyframes kocka
{
    0% {left: 0px;}
    50% {left: 700px;}
    100% {left: 0px;}
}


/****************************/

#glavni2 h1
{
    margin: 0;
    text-align: center;
}

#glavni2 p
{
    text-align: center;
}

#dugme
{
    width: fit-content;
    margin: auto;
}

.polje
{
    text-align: center;
    font-size: 70px;
    width: 100px;
    height: 100px;
}

table
{
    border: solid gray;
    margin: auto;
}

input
{
    text-align: center;
    border: none;
    outline: none;
    height: 21px;
}

input:focus
{
    border-bottom: 1px solid;
}

#odGumba
{
    width: fit-content;
    margin: auto;
}

.gumb
{
    width: 100px;
    height: 25px;
}