<div ng-controller="resetRT"></div>
<div ng-controller="loadingIOtvoriMenu">
    <div id="loading" ng-style="stopAnimation">
        <div id="loadingPage"></div>
        <!--<div id="loadingPicture"><div><img src="refresh-outline.svg" width="50px" alt=""></div></div>-->
        <div id="loading2Page">
            <div id="wordLoading">
                <p class="sameFont" ng-style="otkrijSlovo1">L</p>
                <p class="sameFont" ng-style="otkrijSlovo2">O</p>
                <p class="sameFont" ng-style="otkrijSlovo3">A</p>
                <p class="sameFont" ng-style="otkrijSlovo4">D</p>
                <p class="sameFont" ng-style="otkrijSlovo5">I</p>
                <p class="sameFont" ng-style="otkrijSlovo6">N</p>
                <p class="sameFont" ng-style="otkrijSlovo7">G</p>
            </div>
            <br><br><br><br>
            <div id="loadingBar">
                <div id="loadingBar2" ng-style="loadingBar"></div>
            </div>
        </div>
    </div>

    <div id="okvir">
        <div id="naslov" ng-style="gornjiMenu">
            <p class="posFont">X -- O</p>
            <p class="posFont2">IKS OKS</p>
            <p class="posFont2">TIC TAC TOE</p>
            <br>
        </div>
        <br>
        <div id="okvirOkoStavki" ng-style="donjiMenu">
            <div><a href="#!singleplayer"><button class="buton" ng-click="SP()">SINGLEPLAYER</button></a></div>
            <div><a href="#!multiplayer"><button class="buton" ng-click="MP()">MULTIPLAYER</button></a></div>
            <div><a href="#!about"><button title="In progress!" ng-disabled="iskljuciPrivremeno" class="buton">ABOUT</button></a></div>
            <div><a href="#!quit"><button title="In progress!" ng-disabled="iskljuciPrivremeno" class="buton">QUIT</button></a></div>
        </div>
    </div>
</div>