#okvir
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#naslov
{
    position: absolute;
    z-index: 1;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 232px;
    border: 1px solid black;
    border-radius: 10px;
    background: url(/X-O\ -\ game/patterns/dark-wood.jpg);
}

.posFont
{
    color: white;
    width: 312px;
    text-align: center;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

.posFont2
{
    color: white;
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 15px;
    margin: 0px;
}

#okvirOkoStavki
{
    position: absolute;
    transition: 1s;
    width: fit-content;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    background: url(/X-O\ -\ game/patterns/dark-wood.jpg);
}

.buton
{
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

.buton:hover
{
    background-color: gray;
}

#loading
{
    position: fixed;
    width: 100wv;
    height: 100vh;
    transition: 1s;
    z-index: 2;
}

#loadingPage
{
    width: 100vw;
    height: 100vh;
    background: black;
    position: absolute;
}

#loadingPicture
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s infinite linear loading;
}

@keyframes loading
{
    0% {transform: rotate(0deg)}
    100%{transform: rotate(360deg);}
}