body
{
    margin: 0;
}

#pomjeritiNaSredinu
{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zatamnit
{
    position: absolute;
    filter: opacity(.5);
    background: black;
    width: 1090px;
    height: 705px;
    border-radius: 20px;
}

#dimenzije
{
    z-index: 1;
    width: 1000px;
    padding: 35px;
    border: 10px solid black;
    border-radius: 20px;
}

#glOkvir
{
    display: flex;
    margin: auto;
}

#prviAvatar, #drugiAvatar
{
    background: url(/X-O\ -\ game/patterns/dark-wood.jpg);
    border: 3px solid black;
    border-radius: 10px;
    padding-top: 45px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.igraci
{
    background: gray;
    font-family: 'Indie Flower', cursive;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 25px;
}

#prviAvatar img, #drugiAvatar img
{
    border: 3px solid gray;
    border-radius: 100%;
}

#tabelaIgrica
{
    background: rgb(88, 88, 88);
    margin: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

#obojenaCelija
{
    color: #585858;
    background-color: black;
}

.celija
{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
}

.celija:hover
{
    background: gray;
}

.celija:active
{
    background: black;
}

.celija::selection
{
    background: transparent;
}

#poruka
{
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #808080;
    width: 200px;
    height: 30px;
    margin: auto;
    text-align: center;
}

#poruka2, #reset
{
    width: fit-content;
    margin: auto;
    text-align: center;
}

p
{
    margin: 0px;
}

#XO
{
    width: fit-content;
    display: flex;
    margin: auto;
}

#mrakOkoPobjede
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    filter: opacity(.5);
}

#zamracenCijeliEkran
{
    z-index: 2;
    display: none;
    background: black;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    filter: opacity(.5);
}

#izlazakPobjede
{
    z-index: 4;
    background-color: black;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 35%;
    right: 100%;
    color: white;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    font-size: 110px;
    text-align: center;
    animation: 4.5s cubic-bezier(0.02, 0.57, 0.99, 0.43) 1 0.5s;
    display: none;
}

@keyframes zaPobjedu
{
    0% {right: -100%}
    100% {right: 100%}
}

#X, #O, #dvotacka
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#poruka2
{
    background: rgb(88, 88, 88);
    position: relative;
    border: 1px solid black;
    overflow: hidden;
    height: 100px;
}

#padajuciX, #padajuciO
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: black;
    top: -50px;
    color: white;
}

#padajuciO
{
    z-index: 1;
    right: 0px;
    animation: 2s 1 /*padajuciO*/;
}

#padajuciX
{
    z-index: 1;
    animation: 2s 1 /*padajuciX*/;
}

@keyframes padajuciX
{
    0% {top: -50px;}
    100% {top: 35px;}
}

@keyframes padajuciXX
{
    0% {top: -50px;}
    100% {top: 35px;}
}

@keyframes padajuciO
{
    0% {top: -50px;}
    100% {top: 35px;}
}

@keyframes padajuciOO
{
    0% {top: -50px;}
    100% {top: 35px;}
}

#scoreboard
{
    position: relative;
    background: black;
    color: rgb(156, 155, 155);
    width: 100%;
    height: 17px;
    z-index: 2;
    border-bottom: 1px solid black;
}

#butonIgrica
{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: rgb(88, 88, 88);
    border: none;
    cursor: pointer;
}

#butonIgrica:hover
{
    background: gray;
}

#defaultLink
{
    text-align: center;
    color: gray;
}

#defaultLink a
{
    color: gray;
}