#okvir
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#naslov
{
    border: 1px solid black;
    border-radius: 10px;
}

.posFont
{
    width: 312px;
    text-align: center;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

.posFont2
{
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 15px;
    margin: 0px;
}

#okvirOkoStavki
{
    width: fit-content;
    border: 1px solid black;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

.buton
{
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
}

.buton:hover
{
    background-color: gray;
}